*{
    --bg-dark: oklch(0.92 0.03 228);
    --bg: oklch(0.96 0.03 228);
    --bg-light: oklch(1 0.03 228);
    --text: oklch(0.15 0.06 228);
    --text-muted: oklch(0.4 0.06 228);
    --highlight: oklch(1 0.06 228);
    --border: oklch(0.6 0.06 228);
    --border-muted: oklch(0.7 0.06 228);
    --primary: oklch(0.4 0.1 228);
    --secondary: oklch(0.4 0.1 48);
    --danger: oklch(0.5 0.06 30);
    --warning: oklch(0.5 0.06 100);
    --success: oklch(0.5 0.06 160);
    --info: oklch(0.5 0.06 260);

    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}