.skillElement{
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    height: 32px;
}

.skillElement.clickable {
    cursor: pointer;
}
.skillElement {
    cursor: default;
}

.techEntryContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

@media (max-width: 780px) {
    .techEntryContainer {
        grid-template-columns: 1fr;
    }

}
.databaseEntryContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.h3{
    width: 100%;
    text-align: center;
}

.container{
    border-radius: 15px;
    background-color: var(--bg-dark);
    color: var(--text);
    margin: 0 auto;
    padding: 20px;
}

.label{
    min-width: 30%;
    text-align: left;
}


.label_10{
    min-width: 10%;
    text-align: left;
}

.bar_bg{
    width: 20%;
    height: 12px;
    background: #eee;
    border-radius: 6px;
    margin-top: 4px;
}